# img
*.png
*.jpg
*.tif

# packages
*.egg
*.egg-info

# dist
eggs

__pycache__

.idea

nohup.out

venv

*.log

*.hdf5
! /Flask_App/CaptchaCrack/app/script/KerasCaptchaCrack/model_parameters/weights_firts_d.37.hdf5
